/* PC */
@media (min-width: 1024px) {

}

/* Tablet  and Mobile */

@media (max-width: 63.9375em) {
    .place-buy-btn {
        padding: 14px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .socials-list {
        font-size: 48px;
    }
    
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

}

/* Tablet */
@media (max-width: 63.9375em) and (min-width: 46.25em){
    
}

/* Mobile */
@media (max-width: 46.1875em) {

    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
        width: 100%;
    } 


    #nav > li:first-child {
        display: inline-block;
        width: 100px;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
        margin-bottom: 100px;
    }

    /* .map-section {
        margin-top: 112px;
    } */

}